{% extends 'index.html' %}
{% load static %}
{% load widget_tweaks %}


{% block title %}
    {{ block.super }}-edit_profile
{% endblock title %}

{% block content %}
<div class="container-blog">
{% include 'aside2.html' %}
<main class="main-blogs">
    <div class="container-manage-blogs">
        <h5 class="title">Change Password</h5>
        <div class="password-change">
            <img src="{% static 'images/Mobile login.gif' %}" class="pass_svg_image">
            <form action="{% url 'password_change' %}" method="post" novalidate autocomplete="off">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="errorlist" style="color: red;">{{error}}</p>
                    {% endfor %}
    
                {% endif %}
                
                {% for field in form %}
                <div class="password">
                    <span class="material-icons-outlined lock">
                        lock
                        </span>
                    <span class="material-icons-sharp show1">
                            visibility_off
                            </span>
                    
                    {% if form.is_bound %}
                        
                        {% if field.errors %}
                            {% render_field field class='in-valid' %}
                            
                            {% for error in field.errors %}
                                <p class="errorlist">{{error}}</p>
                            {% endfor %}
                        {% else %}
                            {% render_field field class='valid' %}
                                
                        {% endif %}
                            
                    {% else %}
                    {% render_field field %}
    
                    {% endif %}
                        
                
    
                </div>
                {% endfor %}
                    
                    
                
                <button type="submit">Change Password</button>
    
            </form>
        </div>
    </div>
</main>

</div>
<script>
    const navbar_active = document.querySelectorAll('.container-blog .aside li');
    const name_person_likes=document.querySelectorAll('.name_person_likes');
    const likes=document.querySelectorAll('.analastic .likes');
    const name_person_comments=document.querySelectorAll('.name_person_comments');
    const comments=document.querySelectorAll('.analastic .comments');
    const password_input=document.querySelectorAll('.password-change form input[type=password]')
    const password_icon=document.querySelectorAll('.show1')

    comments.forEach((element,index)=>{
    element.addEventListener('click',()=>{
        name_person_comments[index].classList.toggle('hide')
        })
    })

    likes.forEach((element,index)=>{
        element.addEventListener('click',()=>{
            name_person_likes[index].classList.toggle('hide')
            })
        })

    function active_link() {
        navbar_active.forEach((item) => {
            item.classList.remove('active');
            this.classList.add('active');
        })
    }
    navbar_active.forEach((item) => {
        item.addEventListener('click', active_link);
    })

    password_icon.forEach((element,index)=>{
        element.addEventListener('click',()=>{
            if (password_input[index].type ==='password'){
                password_input[index].type='text';
                element.textContent='visibility'
            }
            else{
                password_input[index].type='password';
                element.textContent='visibility_off'
            }
        })
        })


</script>
{% endblock content %}
    
    
    